//Imports
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Montserrat&display=swap');

//Colors

$royalBlue: #4a71e6;
$metallicYellow: #fdcc0d;
$lightGreen: #66ffa6b3;
$lightRed: #ff7f7f; 
$lightGrey: #f2f2f2;
$darkGrey: #333;
$mediumDarkGrey: #666;
$blue: #000080;
$floralwhite: #fffaf0;
$red: #fa4454;
$darkred: #dc3d4b;
$darkGreen: #86Dc3D;
$metallicBlack: #2C2C2B;

//Path

$image_path: 'static/burger.svg';

//Fonts

$headerfont:'Bubblegum Sans', cursive;
$bodyfont: 'Montserrat', sans-serif;

//Sidebar
$bgcolor: #2f855a;
$hovercolor: #38a169;
$activecolor: #276749;